<h1 style="text-align: center">Angular Films Test <button style="float:right" ui-sref="edit">EDIT</button></h1> 
<div class="panel panel-body well">
    <label>Name:
        <input type="text" ng-model="newFilm.name">
    </label>
    <label>Year:
        <input type="text" ng-model="newFilm.year">
    </label>
    <button ng-click="addNew()">Add New Film</button>
</div>
<div class="panel panel-body">
    <ul class="list-group">
        <li class="well list-item" ng-repeat="film in films track by $index">

           <h3> Movie Name: {{film.name}} <button style="float: right" class="btn btn-danger" ng-click="remove($index)">x</button></h3>
           <h3> Year Made: {{film.year}}</h3>
        </li>
    </ul>
</div>